.hero {
  width: 75%;
}

main {
  width: 75%;
}

.searchBtn {
  border-left: 1px solid black;
  border-radius: 5px;
  background-color: rgb(30, 114, 209);
  color: white;
  transition: box-shadow 0.2s linear;
}

.searchBtn:hover {
  box-shadow: 0px 0px 0px 4px rgba(11, 172, 236, 0.5);
}

.five-day {
  font-size: medium;
}

.current-city {
  font-size: large;
  margin: 0;
}

.search-city {
  font-size: small;
  background-color: lightgrey;
}
  
  
